# Database
DATABASE_URL=postgresql+asyncpg://postgres:Priyanshu@0410@db.your-project.supabase.co:5432/postgres

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://rjstlrycjsdltzhiwqjh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_IAk2jHXMZRVyqpNd6S4LXA_a0D5kLot
SUPABASE_BUCKET=invoices

# OpenAI
OPENAI_API_KEY=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

# App
PORT=8000
ENVIRONMENT=development
